### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [48]:
# Grabbing the unique SN's from purchase_data, then finding the number of unique SN's using the length function
player_count = len(purchase_data["SN"].unique())
player_count_summary = pd.DataFrame({"Total Players": [player_count]})

player_count_summary

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
# Using Item ID's as identifier. Grabbing the unique Item ID's from purchase_data, then finding the number of unique Item ID's using the length function
item_count = len(purchase_data["Item ID"].unique())

# Grabbing the unique Purchase ID's from purchase_data, then finding the number of unique Purchase ID's using the length function
purchase_count = len(purchase_data["Purchase ID"].unique())

# The total revenue is the sum of every purchase price from each purchase
total_revenue = purchase_data["Price"].sum()

# The average price is the average of every purchase price from each purchase
average_price = purchase_data["Price"].mean()



# Displaying a summary data frame
purchaseanalysis_df = pd.DataFrame({"Number of Unique Items": [item_count],
                              "Average Price": [average_price],
                              "Number of Purchases": [purchase_count],
                              "Total Revenue": [total_revenue]})


# Formatting the Average Price and Total Revenue values so they cleanly display as currency
purchaseanalysis_df.style.format({"Average Price":"${:,.2f}",
                                  "Total Revenue":"${:,.2f}" })

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [50]:
# First, we need to drop the duplicate entries based on SN to get the most accurate set of data to do our Gender Demo. calculations
gender_dupe_drop = purchase_data.drop_duplicates(subset= 'SN', keep= "first")
# Now that those are dropped, we can get a proper count of each gender 
gender_counts = gender_dupe_drop["Gender"].value_counts()

# The percentage of each gender is calculated by dividing the gender_counts (defined above) by the total players from all genders
percent_players = ((gender_counts / player_count) * 100).map("{:.2f}%".format)


# displaying the values from above calculations
gender_demographics_df = pd.DataFrame({"Total Count":gender_counts, "Percentage of Players":percent_players})
gender_demographics_df

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [64]:
# We want to view purchase_day in terms of the "Gender" column, so we will use groupby
grouped_purchase_data = purchase_data.groupby(["Gender"])

# Defining new varialbes that will hold the number of purchases per gender, 
# average purchase price per gender, the total value of all purchases per gender,
purchase_count_gender = grouped_purchase_data["Gender"].count()
average_price_gender = grouped_purchase_data["Price"].mean()
total_purchaseprice_value = grouped_purchase_data["Price"].sum()

# the average purchase amount per person in each gender category is found by
# taking the total value of all purchases per gender and dividing it by the count of each gender
average_purchaseprice_per_person = total_purchaseprice_value / gender_counts



purchase_analysis_gender_df = pd.DataFrame({"Purchase Count":purchase_count_gender,
                                            "Average Purchase Price":average_price_gender,
                                            "Total Purchase Value": total_purchaseprice_value,
                                            "Avg Total Purchase per Person": average_purchaseprice_per_person})

purchase_analysis_gender_df.style.format({"Average Purchase Price":"${:,.2f}",
                                          "Total Purchase Value":"${:,.2f}",
                                          "Avg Total Purchase per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [65]:
# Defining the age groups, and setting the bins to categories which ages will go in which age group

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# removing duplicate SN's to find the most accurate count for our age group bins
age_no_duplicates = purchase_data.drop_duplicates("SN")

# placing the age values from purchase_data into those bins defined above
pd.cut(purchase_data["Age"], age_bins, labels=age_groups)
age_no_duplicates["Age_Group"] = pd.cut(age_no_duplicates["Age"], age_bins, labels=age_groups)

# counting the amount of players within each age group
total_count_ages = age_no_duplicates["Age_Group"].value_counts()

# finding the percentage of players in each age group, compared to the other age groups, and applying the % formatting
age_demos_percentage_of_players = ((total_count_ages/player_count) *100).map("{:.2f}%".format)

# displaying the Total Count and Percentage of Players in each age group in a summary table
age_demos_table = pd.DataFrame({"Total Count": total_count_ages,"Percentage of Players": age_demos_percentage_of_players})


age_demos_table

C:\Users\Mark\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()

       Total Count Percentage of Players
20-24          258                44.79%
15-19          107                18.58%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
10-14           22                 3.82%
<10             17                 2.95%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [58]:
# Defining the age groups, and setting the bins to categories which ages will go in which age group

age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 200]
age_groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# placing the age values from purchase_data into those bins defined above
purchase_data["Binning_Ages"] = pd.cut(purchase_data["Age"], age_bins, labels=age_groups)

#using groupby to view the data through "Binning_Ages" that was figured out above
binning_ages = purchase_data.groupby("Binning_Ages")

# Grabbing the number of  TOTAL purchases from purchase_data
count_of_sales = purchase_data["Purchase ID"].count()


# Finding the "Purchase Count" (aka, number of purchases each age group made)
ages_purchase_count = binning_ages["SN"].count()

# Finding the "Average Purchase Price" (aka, average price per purchase within each age group)
ages_average_purchase_price = binning_ages["Price"].mean()


# Finding the "Total Purchase Value" (aka, total amount of money made from each age group)
ages_total_purchase_value = binning_ages["Price"].sum()


# Finding the Avg Total Purchase per Person
ages_avg_total_purchase =  ages_total_purchase_value / ages_average_purchase_price



age_purchasing_analysis_table = pd.DataFrame({"Purchase Count": ages_purchase_count,
                                              "Average Purchase Price": ages_average_purchase_price,
                                              "Total Purchase Value": ages_total_purchase_value,
                                              "Avg Total Purchase per Person": ages_avg_total_purchase})


# This section nicely formats the values found in the section above so they display as currency
age_purchasing_analysis_table.style.format({"Average Purchase Price":"${:,.2f}",
                                            "Total Purchase Value":"${:,.2f}",
                                            "Avg Total Purchase per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [78]:
# grabbing the SN of each player from purchase_data
top_spender_names = purchase_data.groupby("SN")

# finding the number of purchases per each SN
top_spender_purchase_counts = top_spender_names["Purchase ID"].count()

# finding the average amount each SN (or player) spent
top_spender_avg_purchase_price = top_spender_names["Price"].mean()

# finding the total amount each SN (or player) spent
top_spender_total_value = top_spender_names["Price"].sum()

# displaying all the values found above
top_spenders_summary_table = pd.DataFrame({"Purchase Count": top_spender_purchase_counts,
                                              "Average Purchase Price": top_spender_avg_purchase_price,
                                              "Total Purchase Value": top_spender_total_value})

# This section nicely formats the values found in the section above so they display as currency
top_spenders_summary_table.sort_values(["Total Purchase Value"],axis=0,ascending=False).head(5).style.format({"Average Purchase Price":"${:,.2f}",
                                                                                                              "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [79]:
# Creating new dataframe with the Item ID, Item Name, and Item Price columns

top_items_df = purchase_data[["Item ID", "Item Name", "Price"]]
top_items_group = top_items_df.groupby(["Item ID", "Item Name"])

top_items_purchase_counts = top_items_group["Item ID"].count()

top_items_item_price = top_items_group["Price"].sum()

top_items_total_value = top_items_item_price /top_items_purchase_counts


top_items_purchase_counts
top_items_summary_table = pd.DataFrame({"Purchase Count":top_items_purchase_counts,
                                        "Item Price": top_items_total_value,
                                        "Total Purchase Value": top_items_item_price})

# top_items_summary_table.style.format({"Item Price":"${:,.2f}",
#                                             "Total Purchase Value":"${:,.2f}"})



top_items_summary_table.sort_values(["Purchase Count"],axis=0,ascending=False).head(5).style.format({"Item Price":"${:,.2f}",
                                            "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [80]:
top_items_summary_table.sort_values(["Total Purchase Value"],axis=0,ascending=False).head(5).style.format({"Item Price":"${:,.2f}",
                                            "Total Purchase Value":"${:,.2f}"})